* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

:root {
    --main-blue: #00ABA9;
}

.colored {
    color: var(--main-blue);
}

#hero {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
    width: 100%;

    position: relative;
    z-index: 1;
}

/* #hero::after {
    content: '';
    min-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
} */

.block-left {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50%;
    width: 100%;
    background-color: #efefef;
    animation-name: slideInLeft;
    animation-fill-mode: both;
    animation-duration: 1.5s;
    z-index: 2;
}

h1.hero-text {
    position: absolute;
    font-size: 40px;
    text-transform: uppercase;
    color: #131530;
    font-weight: 700;
    letter-spacing: -1.25px;
    font-family: serif;
    line-height: 1em;
    text-align: left;
    top: -75px;
    left: 13%;
    animation-name: slideInBottomDesktop;
    animation-fill-mode: both;
    animation-duration: 1.5s;
    animation-delay: 1.5s;
}

.hero-desc {
    position: absolute;
    color: #131530;
    bottom: 35%;
    left: 13%;
    animation-name: slideInBottomDesktop;
    animation-fill-mode: both;
    animation-duration: 1.5s;
    animation-delay: 2.2s;
    font-size: 14px;
    max-width: 300px;
}

.white-block {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #fff;
}

@media (min-width: 768px) {
    .block-left {
        width: 50%;
    }

    #hero {
        background-image: url('workspace.jpg');
        background-size: cover;
        background-position: center;
    }

}

@media (min-width: 1024px) {
    .block-left {
        animation-name: slideInLeftDesktop;
    }

    .white-block {
        width: 50%;
    }

    .hero-desc {
        font-size: 16px;
        max-width: 400px;
    }
}

@keyframes slideInLeft {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes slideInLeftDesktop {
    from {
        width: 0;
    }

    to {
        width: 50%;
    }
}

@keyframes slideInBottomDesktop {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}